*{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.calc-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.keypad{
    display: flex;
    flex-wrap: wrap;
}

.keypad > button{
    min-width: 20%;
    min-height: 20px;
    flex: 1 0 20%; margin: 5px;
}